/* Global CSS */
* {
    box-sizing: border-box;
}

#app {
    font-family: Inter, serif;
    color: rgb(255, 255, 255);
}

html {
    background-color: #232323;
}

@media (max-width: 425px) {
    h1.header {
        font-size: 1.5rem !important;
    }

    .header-game {
        padding: 0.75rem !important;
        font-size: 0.75rem !important;
    }

    .body {
        margin: 0 25px !important;
        height: 70vh !important;
    }

    .question {
        font-size: clamp(0.1rem, 4vw, 1.5rem) !important;
    }

    button {
        font-size: clamp(0.1rem, 4vw, 1rem) !important;
    }

    .home-page-button {
        width: 80%;
        font-size: 1.2rem;
        padding: 10px;
    }

    .home-page-wrapper {
        padding: 0 !important;
        margin: 10px 5px 0 5px !important;
    }

    .h1-home-page {
        margin: 0 !important;
        font-size: 1rem !important;
    }

    .h2-home-page {
        margin-top: 5px !important;
        font-size: 0.8rem !important;
    }

    .me {
        margin: 0 0 10px 0 !important;
        font-size: 1.25rem !important;
    }

    .warning-home-page {
        font-size: 0.7rem !important;
        margin: 5px 0 10px 0 !important;
    }

    .text-home-page {
        margin-top: 0 !important;
        font-size: 0.6rem !important;
    }
}

@media (min-width: 426px) and (max-width: 890px) {
    h1.header, .home-page-wrapper h1 {
        font-size: 2rem !important;
    }

    .header-game {
        padding: 1rem !important;
        font-size: 1rem !important;
    }

    .body {
        margin: 0 25px !important;
        height: 70vh !important;
    }

    .question {
        font-size: clamp(1rem, 4vw, 1.5rem) !important;
    }

    button {
        font-size: clamp(0.8rem, 4vw, 1.2rem) !important;
    }

    .home-page-button {
        width: 60%;
        font-size: 1.3rem;
    }
}
