* {
    box-sizing: border-box;
}

#app {
    font-family: Arial, serif;
    color: rgb(255, 255, 255);
}

html {
    background-color: #232323;
}

@media (max-width: 425px) {
    h1.header {
        font-size: 1.5rem !important;
    }

    .body {
        margin: 0 25px !important;
        height: 70vh !important;
    }

    .header {
        padding: 1rem !important;
    }

    .question {
        font-size: clamp(0.1rem, 4vw, 1.5rem) !important;
    }

    button {
        font-size: clamp(0.1rem, 4vw, 0.8rem) !important;
    }
}

@media (min-width: 426px) and (max-width: 890px) {
    h1.header {
        font-size: 2rem !important;
    }

    .body {
        margin: 0 25px !important;
        height: 70vh !important;
    }

    .question {
        font-size: clamp(0.1rem, 4vw, 1.5rem) !important;
    }
}
